<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.app.utils.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.app.SecondActivity"
            android:label="VkAdm" >
        </activity>
        <activity android:name="com.vk.sdk.VKOpenAuthActivity" />
        <activity
            android:name="com.example.app.GroupActivity"
            android:label="@string/title_activity_group" >
        </activity>
        <activity
            android:name="com.example.app.MembersListActivity"
            android:label="@string/title_activity_members_list" >
        </activity>
        <activity
            android:name="com.example.app.WikiListActivity"
            android:label="@string/title_activity_wiki" >
        </activity>
        <activity
            android:name=".WikiEditActivity"
            android:label="@string/title_activity_wiki_edit" >
        </activity>
    </application>

</manifest>
